* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: none;
}

body {
  height: auto;
}

.youtube p {
  text-align: justify;
}

section[id] p {
  text-align: justify;
}

.navbar-nav .nav-item .nav-link:focus,
.navbar-nav .nav-item .nav-link:hover,
.navbar-nav .nav-item.dropdown .nav-link.dropdown-toggle:focus,
.navbar-nav .nav-item.dropdown .nav-link.dropdown-toggle:hover,
.navbar-nav .nav-item.dropdown .dropdown-menu .dropdown-item:focus,
.navbar-nav .nav-item.dropdown .dropdown-menu .dropdown-item:hover {
  color: #e35420 !important;
}

.custom-link:hover,
.custom-link:focus {
  text-decoration: underline;
  color: #e35420 !important;
}
